# Librería principal para manejar el bot
python-telegram-bot==20.6

# HTTP requests
requests

# Para trabajar con websockets / asincronía
aiohttp
httpx

# Manejo de entornos y variables (tokens, configs, etc.)
python-dotenv

# Servidor web simple (por si usas webhooks)
flask

# Librerías de utilidades varias
pytz
ujson

# Logs y depuración
loguru
